<div>
  <div class="banner">
    <div class="overlay animated fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center hero animated bounceInDown">
              <h1>Darshan Satya</h1>
              <p>The Fullstack developer you have been searching for</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <div class="text-center downArrowColor animated infinite pulse">
            <i class="far fa-arrow-alt-circle-down fa-4x"></i>
          </div>
        </div>
        </div>
      </div>

    </div>

  </div>


</div>