<div class="d-flex flex-column">
  <div class="banner">
    <div class="overlay animated fadeIn">
      <div class="d-flex justify-content-center flex-column container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center hero animated bounceInDown">
              <h1>Darshan Satya</h1>
              <p>The Fullstack developer you have been searching for</p>
            </div>
          </div>
        </div>

        <div class="row py-5">
          <div class="col-md-12">
            <div class="text-center downArrowColor animated infinite pulse" (click)="scrollInto('techClass')">
              <i class="far fa-arrow-alt-circle-down fa-4x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="techElementSelected" class="d-flex flex-column justify-content-center container py-5" id="techClass">
    <div class="row">
      <div class="col-md-4">
        <div class="counter" [ngClass]="{'animated flipInX' : counter === 56}">
          {{counter}}+
        </div>
        <div *ngIf="counter === 56" class="animated zoomInUp headingSizes">
          <h1>Github Projects</h1>
        </div>
      </div>
      <div class="col-md-8 animated zoomInRight">
        <div class="card-header text-center headingSizes">
          <h1>Technologies</h1>
        </div>
        <div class="card-body">
          <div class="techFirstRow row d-flex justify-content-between">
            <button type="button" class="btn btn-outline-success btn-sm animated zoomIn">Angular - v6</button>
            <button type="button" class="btn btn-outline-primary btn-sm animated zoomIn">React</button>
            <button type="button" class="btn btn-outline-success btn-sm animated zoomIn">Bootstrap 4</button>
            <button type="button" class="btn btn-outline-primary btn-sm animated zoomIn">Microservices</button>
          </div>
          <div class="techMidRow row d-flex justify-content-center py-3">
            <button type="button" class="btn btn-outline-danger btn-sm animated zoomIn">Spring Boot</button>
            <button type="button" class="btn btn-outline-info btn-sm animated zoomIn">Graph QL</button>
            <button type="button" class="btn btn-outline-danger btn-sm animated zoomIn">R Native</button>
            <button type="button" class="btn btn-outline-info btn-sm animated zoomIn">Rxjs</button>
          </div>
          <div class="techLastRow row d-flex justify-content-between">
            <button type="button" class="btn btn-outline-dark btn-sm animated zoomIn">Flexbox</button>
            <button type="button" class="btn btn-outline-success btn-sm animated zoomIn">Node</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-5">
        <div *ngIf="counter === 56" class="text-center downArrowColor animated infinite pulse" (click)="scrollInto('expClass')">
          <i class="far fa-arrow-alt-circle-down fadownblack fa-4x animated bounceInUp"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="expierienceElementSelected" class="d-flex flex-column justify-content-center container py-5" id="expClass">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-end companyRow1">
          <div class="imageWidth animated zoomIn">
            <img src="../assets/sg.png" class="img-fluid rounded">
            <h3>
              <span class="badge badge-success">2017 - Present</span>
            </h3>
            <p>Tech Pillar</p>
          </div>

          <div class="imageWidth animated zoomIn">
            <img src="../assets/cognizant.png" class="img-fluid rounded">
            <h6>
              <span class="badge badge-secondary">2016 - 2017</span>
            </h6>
            <p>Associate - Projects</p>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-end companyRow2">
          <div class="imageWidth animated zoomIn">
            <img src="../assets/infosys.jpg" class="img-fluid xerox rounded">
            <h6>
              <span class="badge badge-secondary">2011 - 2015</span>
            </h6>
            <p>Technology Analyst</p>
          </div>

          <div class="imageWidth animated zoomIn">
            <img src="../assets/xerox.png" class="img-fluid  xerox rounded">
            <h6>
              <span class="badge badge-secondary">2015 - 2016</span>
            </h6>
            <p>System Dev Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="experienceCounter" [ngClass]="{'animated flipInX' : counter === 7}">
          {{experienceCounter}}+
        </div>
        <div *ngIf="experienceCounter === 7" class="animated zoomInUp headingSizes">
          <h1>Years Of Industry Experience</h1>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 py-5">
        <div *ngIf="experienceCounter === 7" class="text-center downArrowColor animated infinite pulse" (click)="scrollInto('gitProjClass')">
          <i class="far fa-arrow-alt-circle-down fadownblack fa-4x animated bounceInUp"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="githubProjectsSelected" class="d-flex flex-column justify-content-center container py-5" id="gitProjClass">
    <div class="row">
      <div class="col-md-4">
        <div class="counter" [ngClass]="{'animated flipInX' : gitProjCounter === 400}">
          {{gitProjCounter}}+
        </div>
        <div *ngIf="gitProjCounter === 400" class="animated zoomInUp headingSizes">
          <h1>Github Contributions</h1>
        </div>
      </div>
      <div *ngIf="gitProjCounter === 400" class="col-md-8 contribution">
        <img src="../assets/contri.PNG" class="img-fluid rounded animated flipInY">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-5">
        <div *ngIf="gitProjCounter === 400" class="text-center downArrowColor animated infinite pulse" (click)="scrollInto('passionsClass')">
          <i class="far fa-arrow-alt-circle-down fadownblack fa-4x animated bounceInUp"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="passionSelected" class="d-flex flex-column justify-content-center container py-5" id="passionsClass">

    <div class="d-flex justify-content-between align-items-end flex-wrap mainpassionrow">
      <div class="col-md-3 card mx-2 animated bounceInDown">
        <h2>My Principles</h2>
        <ul>
          <li>Dedication</li>
          <li>Hardwork</li>
          <li>Perseverance</li>
          <li>Positive Attitude</li>
        </ul>
      </div>
      <div class="col-md-4 card my-2 animated bounceInDown">
        <h2>Attitude is Everything</h2>
        <p>Having close to 7 years of experience across mammoth companies, every day I try to beat myself. Why? Cause thats
          what it takes to be the best.</p>
      </div>
      <div class="col-md-4 card mx-2 animated bounceInDown">
        <h2>My Passion</h2>
        <p>My heart yearns to make production grade websites which are a treat to the eyes and which has seamless UX.</p>
        <p>Node + Angular + Spring Boot + Mongo + GraphQL : These are the perfect recipe required to build any kind of a robust
          scalable software.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="text-center downArrowColor animated infinite pulse" (click)="scrollInto('endClass')">
          <i class="far fa-arrow-alt-circle-down fadownblack fa-4x animated bounceInUp"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="endSelected" id="endClass">
    <div class="endbanner">
      <div class="overlay animated fadeIn">
        <div class="d-flex justify-content-center flex-column container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center hero animated bounceInDown">
                <a href="https://www.linkedin.com/in/darshan-satya-b5b775ba/" target="_blank">
                  <i class="fab fa-linkedin mx-2"></i>
                </a>
                <a href="mailto:darshans1989@gmail.com?Subject=Darshan, you sound great for our company" target="_top">
                  <i class="fab fa-google"></i>
                </a>
                <a href="https://github.com/darshangit" target="_blank">
                  <i class="fab fa-github mx-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>