.banner {
  background-image: url('../assets/banner-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation-delay: 0.3s;
  animation-duration: 1s;
}

.banner .container {
  width: 100%;
  height: 100%;
}

.hero {
  animation-duration: 2s;
  animation-delay: 0.3s;
  color: azure;

  h1 {
    font-size: 40px;
    font-weight: 700px;
  }

  p {
    font-weight: 100;
    font-size: 15px;
  }
}

.downArrowColor {
  color: beige;
  animation-delay: 0.3s;
  cursor: pointer;
}

.counter , .experienceCounter {
  font-style: oblique;
  font-variant: oldstyle-nums;
  font-size: 100px;
  font-weight: 900;
  color: dodgerblue;
}

.techFirstRow {
  .btn:nth-child(1) {
    animation-delay: 2.3s;
  }
  .btn:nth-child(2) {
    animation-delay: 3.2s;
  }
  .btn:nth-child(3) {
    animation-delay: 0.8s;
  }
  .btn:nth-child(4) {
    animation-delay: 3.9s;
  }
}

.techLastRow {
  .btn:nth-child(1) {
    animation-delay: 4s;
  }
  .btn:nth-child(2) {
    animation-delay: 1s;
  }
}

.techMidRow {
  .btn:nth-child(1) {
    animation-delay: 0.5s;
  }
  .btn:nth-child(2) {
    animation-delay: 2s;
  }
  .btn:nth-child(3) {
    animation-delay: 2.8s;
  }
  .btn:nth-child(4) {
    animation-delay: 3.7s;
  }
  button {
    margin: 5px;
  }
}

.headingSizes{
    h1{
        font-weight: 100;
        font-variant: small-caps;
    }
}

.fadownblack {
    color: grey;
}

#expClass {
  height: 100vh;
}

#techClass{
  height: 100vh;
}

.imageWidth{
    width: 300px;

    img{
        max-height: 100%;
        max-width: 45%;
    }
}

.companyRow1{

  div:nth-child(1){
    animation-delay: 4s;
  }

  div:nth-child(2){
    animation-delay: 3s;
  }
  p {
    font-weight: 100;
    font-size: 15px;
  }
}

.companyRow2{

  div:nth-child(1){
    // animation: tada;
    // animation-duration: 2s;
    animation-delay: 1s;
  }

  div:nth-child(2){
    animation-delay: 2s;
  }
  p {
    font-weight: 100;
    font-size: 15px;
  }
}



