<div class="main-container">
<div id="first" class="main-page-container">
  <div class="main-page-circle" (click)="scrollInto('second')">
      <h2>Darshan Satya</h2>
  </div>
</div>
<div id="second" class="main-page-container">
  <div class="main-page-circle">
      <h2>Darshan Satya</h2>
  </div>
</div>
<div id="third" class="main-page-container">
  <div class="main-page-circle">
      <h2>Darshan Satya</h2>
  </div>
</div>
<div id="fourth" class="main-page-container">
  <div class="main-page-circle">
      <h2>Darshan Satya</h2>
  </div>
</div>
</div>